<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mobile.app.dev"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="de.htwds.mada.todo.READ" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="mobile.app.dev.MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="mobile.app.dev.ueb01.Calculator"
            android:label="@string/title_activity_calculator"
            android:theme="@android:style/Theme.Holo.NoActionBar" >
        </activity>
        <activity
            android:name="mobile.app.dev.ueb02.CalculatorExtended"
            android:label="@string/title_activity_calculator_extended"
            android:theme="@android:style/Theme.Holo" >
        </activity>
        <activity
            android:name="mobile.app.dev.ueb03.TodoListActivity"
            android:label="@string/title_activity_todo_list"
            android:theme="@android:style/Theme.Holo" >
        </activity>
        <activity
            android:name="mobile.app.dev.ueb03.TodoDetailActivity"
            android:label="@string/title_activity_todo_detail"
            android:theme="@android:style/Theme.Holo.NoActionBar" >
        </activity>
        <activity
            android:name="mobile.app.dev.ueb03.SettingsActivity"
            android:label="@string/calculatorsettingsactivity"
            android:theme="@android:style/Theme.Holo.NoActionBar" >
        </activity>
        <activity
            android:name="mobile.app.dev.ueb04.DownloadActivity"
            android:label="@string/title_activity_download"
            android:theme="@android:style/Theme.Holo.NoActionBar" >
        </activity>

        <service
            android:name="mobile.app.dev.ueb04.DownloaderService"
            android:enabled="true" />

        <activity
            android:name="mobile.app.dev.ueb05.AlarmActivity"
            android:label="@string/title_activity_alarm"
            android:theme="@android:style/Theme.Holo" >
        </activity>
        <activity
            android:name="mobile.app.dev.ueb05.SnoozeActivity"
            android:label="@string/title_activity_snooze"
            android:theme="@android:style/Theme.Holo.NoActionBar" >
        </activity>
        <activity
            android:name="mobile.app.dev.ueb05.AlarmSettingsActivity"
            android:label="Alarm Settings"
            android:theme="@android:style/Theme.Holo.NoActionBar" >
        </activity>

        <receiver
            android:name="mobile.app.dev.ueb05.Alarm"
            android:enabled="true" >
        </receiver>

        <activity
            android:name="mobile.app.dev.ueb06.view.TodoDBActivity"
            android:label="@string/title_activity_todo_db"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar" >
        </activity>
        <activity
            android:name="mobile.app.dev.ueb06.view.TodoListActivity"
            android:label="@string/title_activity_todo_list_db"
            android:theme="@android:style/Theme.Holo" >
        </activity>
        <activity
            android:name="mobile.app.dev.ueb06.view.PriorityListActivity"
            android:label="@string/title_activity_priority_list"
            android:theme="@android:style/Theme.Holo" >
        </activity>
        <activity
            android:name="mobile.app.dev.ueb06.view.PriorityDBActivity"
            android:label="@string/title_activity_priority_db"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar" >
        </activity>
        <activity
            android:name="mobile.app.dev.ueb06.view.CategoryListActivity"
            android:label="@string/title_activity_category_list"
            android:theme="@android:style/Theme.Holo" >
        </activity>
        <activity
            android:name="mobile.app.dev.ueb06.view.CategoryDBActivity"
            android:label="@string/title_activity_category_db"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar" >
        </activity>
        <!-- ContentProvider für die Todos -->
        <provider
            android:name="mobile.app.dev.ueb07.TodoContentProvider"
            android:authorities="de.htwds.mada.todo"
            android:enabled="true"
            android:exported="true"
            android:permission="de.htwds.mada.todo.READ" >
        </provider>
        <!-- Auslesehilfsfunktion für die Todos -->
        <activity
            android:name="mobile.app.dev.ueb07.TodoReaderActivity"
            android:label="@string/title_activity_todo_reader"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo" >
        </activity>
    </application>

</manifest>